html{
    display: flex;
}


body{
    background-image:url("./assets/colors.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color: #608BC1;
    width:100%;
    height:100%;
    font-size:16px;
    font-family: Tahoma, serif
  }
  
  h1, p{
    margin:0 auto;
    text-align: center;
    padding: 10px;
    font-family:Impact,serif;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 1em;
    background-color: rgba(203, 220, 235, 0.85);
    border-radius: 10px
  }
  
  fieldset{
    max-width:500px;
    margin: 0 auto;
    border:none;
    border-bottom: 1px dashed #133E87;
  }
  
  label{
    display:block;
    margin: 0.5rem 0;
    text-align:left;
  }

  .styling, select, textarea{
    width:100%;
    margin: 10px 0 0 0;
    border-radius: 5px;
    background-color: #F3F3E0;
  }
  
  .inline{
    margin: 0 1em 0 0;
    width: unset;
  }
  
.submit-button{
    background-color: #608BC1;
    font-family: Impact;
    color: #F3F3E0; 
    display:block;
    margin: 15px auto 0;
    padding: 15px;
    border-radius: 10px;
  }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px)  { .page {
        width: 80%;
        padding: 10px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 



